// Specific CSS for your home-page
.page-container-home {
  background-image: url("background-home.jpg");
  background-size: cover;
  width: 100%;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 16px 240px;
}

.container-home h1 {
  align-items: center;
  text-align: center;
  color: #F5F0ED;
  padding-top: 35px;
  padding-bottom: 35px;
}

.container-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
