.container-new-therapist-form {
  padding: 0px 24px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.new-therapist-form-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}
