.container-quiz-results {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.container-quiz-results h1 {
  padding-bottom: 16px;
}
.container-results-actions {
  display: flex;
  flex-direction: column;
}

.container-results-actions h2 {
  color: #FF7C44;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
  padding-bottom: 32px;
}

.card-results-item {
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.019) 0px 2px 4px -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #0D3B67;
  border-radius: 2px;
  width: 150px;
  position: relative;
}

.card-results-item a {
  font-size: 16px;
  color: #0D3B67;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  line-height: 0;
}

.card-results-item h5 {
  text-transform: capitalize;
}

.card-results-item p {
  font-family: 'Capriola', sans-serif;
  font-size: 12px;
  color: #0d3c6774;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.results-icon {
  width: 100px;
  padding: 16px;
}
