.container-article {
  padding: 0;
}

.container-img {
  width: 100%;
}

.container-img img {
  height: 300px;
  object-fit: cover;
}

.article {
  padding: 16px 24px;
}

.container-span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  padding-top: 8px;
  padding-bottom: 16px;
}

.topic {
  text-transform: capitalize;
  background-color: #C6D9E9;
  padding: 0 8px;
  border-radius: 10px;
}
