.container-questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.answers {
  width: 90vw;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  color: #0D3B67;
}

.container-question-content {
  text-align: center;
  margin-top: 50px;
  // height: 45vh;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 100px;
}

.container-answers {
  margin: auto;
  height: 45vh;
}

.container-back-button {
  padding-top: 80px;
}
