.container-questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.answers {
  width: 90vw;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  font-size: 14px;
  color: #0D3B67;
}

.container-question-content {
  text-align: center;
  margin-top: 50px;
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 100px;
}

.container-answers {
  margin: auto;
  height: 45vh;
}

.container-back-button {
  padding-top: 80px;
}

.container-progress-bar {
  text-align: center;
  padding-left: 5vh;
  padding-right: 5vh;
}

// .completion-bar {
//   // border: 0;
//   height: 32px;
//   width: 320px;
//   // // border-radius:3px;
//   // -webkit-appearance: none;
//   accent-color: $yellow;
// }


progress {
  accent-color: #135494;
  height: 40px;
  width: 320px;
  // border-radius: 2px;
}

progress::-webkit-progress-bar {
  height: 40px;
  width: 320px;
  background-color: transparent;
  // border-color: transparent;
  // border-radius: 2px;
}
progress::-webkit-progress-value {
  accent-color: #135494;
}
