.container-quiz-start {
  padding: 48px 24px;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 100%;
}

.container-intro {
  padding-bottom: 24px ;
}

.container-intro p {
  padding-top: 16px;
}

.container-start-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
