// ---> Main styles <--- \\
.container-therapist-page {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-therapist-page h1 {
  font-size: 32px;
}

.container-therapist-page h2 {
  font-size: 24px;
  margin-bottom: 4px;
}

.container-therapist-page h3 {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.container-therapist-page h4 {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  // margin-bottom: 4px;
}

.container-therapist-page h5 {
  font-size: 13px;
  font-family: 'Lato', sans-serif;
  // margin-bottom: 4px;
}

.container-therapist-page h6 {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  align-self: center;
}

.container-therapist-page p, .form-check {
  font-size: 14px;
  color: #0d3c67a2;
  font-weight: bold;
}

.container-therapist-page a {
  color: #FF7C44;
  text-decoration: none;
}

.container-therapist-page span {
  text-transform: capitalize;
  background-color: #C6D9E9;
  padding: 0 8px;
  border-radius: 10px;
  width: fit-content;
  font-size: 12px;
  margin-bottom: 16px;
}
// ---> Main styles <--- \\


// ---> Search Form <--- \\
.container-search {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

#_therapists_query {
  height: 40px;
  width: 247px;
  border: 2px solid #0D3B67;
  border-right: none;
}

.container-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
// ---> Search Form <--- \\


// ---> Map <--- \\
.container-map {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 32px;
}
// ---> Map <--- \\


// ---> Card Therapists <--- \\
.container-card-therapist {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 8px;
  transition: box-shadow 0.4s;
  padding: 8px 16px;
  gap: 4px;
}

.container-availability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px
}

.container-no-therapists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.container-card-therapist .form-button {
  width: 291px;
}

.container-add-therapist {
  text-align: center;
}

.container-add-therapist h3 {
  margin-bottom: 24px;
}
