.container-therapist-page {
  padding: 16px 24px;
}

.container-therapist-page h1 {
  font-size: 32px;
}

.container-search {
  display: flex;
  align-items: center;
  width: 100%;
}

#_therapists_query {
  height: 40px;
  width: 247px;
  border: 2px solid #0D3B67;
  border-right: none;
  flex-grow: 6;
}

.form-button {
  align-self: flex-start;
}

.container-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-map {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

.container-card-therapist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.019) 0px 2px 4px -1px;
  margin-bottom: 24px;
  transition: box-shadow 0.4s;
  padding: 8px 16px;
}

.container-card-therapist h3 {
  font-family: 'Capriola', sans-serif;
  font-size: 16px;

}

.container-availability {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-availability p {
  font-size: 14px;
  color: #969696;
  text-transform: uppercase;
  font-family: 'Capriola', sans-serif;
}
