<div class="map-info-window">
  <div class="map-info-window-content">
    <div class="map-info-window-name">
      <h3><%= "#{therapist.first_name} #{therapist.last_name}" %></h2>
    </div>
    <div class="map-info-window-phone">
      <p><%= therapist.telephone_number %></p>
    </div>
    <div class="map-info-window-availability">
      <% if therapist.available_places == true %>
        <p>✅ Has open spots</p>
      <% else %>
        <p>❌ No availability</p>
      <% end %>
    </div>
  </div>
</div>
