<h2>The results of your last needs assessment reveiled that:</h2>
<% good_counter = 0 %>
<% neutral_counter = 0 %>
<% bad_counter = 0 %>

<% @goods.each do |good| %>
<% good_counter += 1 %>
<% end %>

<% @neutrals.each do |neutral| %>
<% neutral_counter += 1 %>
<% end %>

<% @bads.each do |bad| %>
<% bad_counter += 1 %>
<% end %>


<h2><i class="far fa-tired"></i></h2>
<div data-controller="dashboard" data-dashboard-end-value="<%= @goods.count%>" data-dashboard-title-value="areas need attention">
  <h2 data-dashboard-target="counter" id="result-counter">0</h2>
  <h3 data-dashboard-target="title" style="visibility: hidden"> d</h3>
</div>


<h2><i class="far fa-grin"></i></h2>
<div data-controller="dashboard" data-dashboard-end-value="<%= @neutrals.count%>" data-dashboard-title-value="areas could use some attention">
  <h2 data-dashboard-target="counter" id="result-counter">0</h2>
  <h3 data-dashboard-target="title" style="visibility: hidden">d </h3>
</div>

<h2><i class="far fa-grin-beam"></i></h2>
<div data-controller="dashboard" data-dashboard-end-value="<%= @bads.count%>" data-dashboard-title-value="seem fine">
  <h2 data-dashboard-target="counter" id="result-counter">0</h2>
  <h3 data-dashboard-target="title" style="visibility: hidden">d </h3>
</div>
