<h2>I work</h2>
<ul>
  <% @goods.each do |answer| %>
    <li><%= link_to "#{answer.question.category}", answer_path(answer, category: answer.question.category) %></li>
  <% end %>
</ul>

<ul>
  <% @neutrals.each do |answer| %>
    <li><%= link_to "#{answer.question.category}", answer_path(answer, category: answer.question.category) %></li>
  <% end %>
</ul>

<ul>
  <% @bads.each do |answer| %>
    <li><%= link_to "#{answer.question.category}", answer_path(answer, category: answer.question.category) %></li>
  <% end %>
</ul>
