<div class="container-home">
  <h2>Results</h2>
  <div class="container-results">
    <% @goods.each do |answer| %>
      <h5><%= link_to "#{answer.question.category}", answer_path(answer, category: answer.question.category) %></h5>
    <% end %>

    <% @neutrals.each do |answer| %>
      <h5><%= link_to "#{answer.question.category}", answer_path(answer, category: answer.question.category) %></h5>
    <% end %>

    <% @bads.each do |answer| %>
      <h5><%= link_to "#{answer.question.category}", answer_path(answer, category: answer.question.category) %></h5>
    <% end %>
  </div>
</div>
