<main class="container-quiz-start">
  <div class="container-intro">
    <h2>When we are struggling with mental health, small actions can make a huge difference on how we feel.</h2>
    <p>With this assessment we want to help you with that.</p>
  </div>
  <div class="container-start-button">
    <%= link_to(@question) do %>
      <button class="button button-main">Start</button>
    <% end %>
  </div>
</main>
