
<div class="container-quiz-start">
  <div class="container-intro">
    <h2>When we are struggling with mental health, small actions can make a huge difference on how we feel.</h2>
    <p>With this assessment we want to help you with that.</p>
  </div>
  <div>
    <button class="button-main"><%= link_to "Start", question_path(@question) %></button>
  </div>
</div>

<!--Modal Animation for instant load -->
<script>
    $(document).ready(function(){
        $("#exampleModal").modal('show');
    });
</script>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">This quiz might be triggering to some!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="closing"></button>
      </div>
      <div class="modal-body">
        <p>If you feel like you could harm yourself, please call the emergency services at 112. You should call 112 even if the situation is unclear, but could be life threatening.</p>
        <p>You can also check our SOS page for more information.</p>
      </div>
      <div class="modal-footer">
        <button class="button-secondary">SOS page</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">I will try</button>
      </div>
    </div>
  </div>
</div>
