<div class="suggestion-picture"></div>
<%= link_to "← Results", result_path, class: "link-results"%>

<div>
  <% @suggestions.each do |suggestion| %>
    <div class="suggestion-card">
      <h2><%= suggestion.title %></h2>
      <p><%= suggestion.content %></p>
    </div>
  <% end %>
   <%= link_to "← Results", result_path, class: "link-results"%>
</div>
