<div>
  <div>
    <h1>Learn to cope with mental struggles</h1>
  </div>
  <div>
    <button class="button-main">
      <%= link_to "Needs Quiz", "/quiz" %>
    </button>
    <div>
    <button class="button-secondary">
      <%= link_to "SOS", "/" %>
    </button>
    </div> <%# here we need to add SOS path %>
  </div>
</div>
