<div>
  <div>
    <h1>Learn to cope with mental struggles</h1>
  </div>
  <div><%= link_to "Needs Quiz", "/quiz" %></div>
  <div><%= link_to "SOS", "/" %></div> <%# here we need to add SOS path %>
</div>
