<div class="container-home">
  <div class="container-h1">
    <h1>Learn to cope with mental struggles.</h1>
  </div>

  <div class="container-buttons">
    <button class="button-main">
      <%= link_to "Needs Assessment", "/start" %>
    </button>
    <div>
    <button class="button-secondary">
      <%= link_to "SOS", "/sos" %> <%# here we need to add SOS path %>
    </div>
  </div>
</div>
