<main class="container-sos">
  <header class="header-sos">
    <h1>Emergency Contact</h1>
    <p>If you feel suicidal or like you could harm yourself, <strong class="emergency-text">please call the emergency services at <a href="tel:0112" class="emergency-telephone">112</a>.</strong> You should call 112 even if the situation is unclear, but could be life threatening. You're not wasting anyone's time!
      You can also reach on-call medical services or suicide hotlines.</p>
  </header>

  <address class="emergency-contact">
    <h2>Telefonseelsorge</h2>
    <h3><a href="tel:+49 800 111 0 111" class="emergency-telephone">+49 800 111 0 111</a></h3>
    <p class="sos-p"><i class="fa-solid fa-globe"></i> Nationwide</p>
    <p class="sos-p"><i class="fa-solid fa-comments"></i> German</p>
    <p class="sos-p"><i class="fa-solid fa-calendar-days"></i> 24/7</p>
  </address>
  <address class="emergency-contact">
    <h2>SeeleFon für Flüchtlinge</h2>
    <h3><a href="tel:+49 228 71002425" class="emergency-telephone">+49 228 71002425</a></h3>
    <p class="sos-p"><i class="fa-solid fa-globe"></i> Nationwide</p>
    <p class="sos-p"><i class="fa-solid fa-comments"></i> German, English, French, Arabic</p>
    <p class="sos-p"><i class="fa-solid fa-calendar-days"></i> Mon-Wed | 10h-12h, 14h-15h</p>
  </address>
  <address class="emergency-contact">
    <h2>Berliner Krisendienst (Berlin Crisis Service)</h2>
    <h3><a href="tel:+49 30 39063 10" class="emergency-telephone">+49 30 39063 10</a></h3>
    <p class="sos-p"><i class="fa-solid fa-globe"></i> Berlin</p>
    <p class="sos-p"><i class="fa-solid fa-comments"></i> German, English</p>
    <p class="sos-p"><i class="fa-solid fa-calendar-days"></i> 24/7</p>
  </address>
</main>
