<main class="container-resources">
  <header class="header-resources">
    <h1>Resources</h1>
  </header>

  <ul class="resources-list">
    <% @resources.each do |resource| %>
      <li class="resource-element">
        <%= link_to resource_path(resource) do %>
          <article class="resource-card">
            <div class="resource-img">
              <%# Insert article picture here %>
            </div>
            <div class="resource-description">
              <h2><%= resource.title %></h2>
              <h3 class="tag"><%= resource.topic %></h3>
            </div>
          </article>
        <% end %>
      </li>
      <% end %>
  </ul>
</main>
