// Main Button
.button-main {
  background-color: #FF7C44;
  border: 2px solid #0D3B67;
  border-radius: 2px;
  width: 320px;
  height: 45px;
  padding: 10px 24px 10px 24px;
  box-shadow: 4px 4px 0 #135494;
}

.button-main a {
  color: #F5F0ED;
  text-decoration: none;
  text-align: center;
  font-family: 'Capriola', sans-serif;
  font-size: 20px;
}
