// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
// @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/button";
@import "pages/start";
@import "pages/sos";
@import "components/modal";
@import "pages/resources_index";


// Main CSS
body {
  background-color: #f4f3f1;
  margin: 0;
  color: #0D3B67;
}

h1 {
  font-family: 'Neuton', serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
}

h2 {
  font-family: 'Neuton', serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

h3, h4 {
  font-family: 'Neuton', serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

h5 {
  font-family: 'Capriola', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 24px;
}
